@each $name, $value in $spacing {
  .m#{$name} {margin: #{$value};}
  .m#{$name}-t {margin-top: #{$value};}
  .m#{$name}-r {margin-right: #{$value};}
  .m#{$name}-b {margin-bottom: #{$value};}
  .m#{$name}-l {margin-left: #{$value};}
  .m#{$name}-x {
    margin-left: #{$value};
    margin-right: #{$value};
  }

  .m#{$name}-y {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }
}

.m0 {margin: 0;}
.m0-t {margin-top: 0;}
.m0-r {margin-right: 0;}
.m0-b {margin-bottom: 0;}
.m0-l {margin-left: 0;}

.m0-x {
  margin-left: 0;
  margin-right: 0;
}

.m0-y {
  margin-top: 0;
  margin-bottom: 0;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}